[submodule "raw/Monet"]
	path = raw/Monet
	url = https://github.com/akhildaphara/monet.git
[submodule "raw/croe"]
	path = raw/croe
	url = https://github.com/akhildaphara/croe.git
[submodule "raw/website"]
	path = raw/website
	url = https://github.com/akhildaphara/monet-website.git
